@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Модель (Model)</h1>
    <p class="lead">
        Модель відповідає за управління даними, бізнес-логікою та правилами програми.
        Вона отримує дані з бази даних або інших джерел і передає їх до Контролера.
    </p>

    <img src="https://www.javacodegeeks.com/wp-content/uploads/2017/09/mvc.png"
         alt="Model Diagram"
         class="img-fluid rounded shadow mt-4" style="max-width:600px;" />
</div>