

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/643ceef4cfa099b44806c5ef191838d1?family=Venn+Medium" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/venn-trial" rel="stylesheet">
</head>
<body id="bodycrate">
    
    <div class="leftMenu">
        <div class="FirstBlock"></div>
        <div class="SecondBlock">
            <a asp-action="HomeBtn" asp-controller="Autorize" class="buttondef"><img class="buttonimg" src="~/icons/hut.png" />Home</a>
            <a asp-action="HomeBtn"  class="buttondef"><img class="buttonimg" src="~/icons/search.png" />Search</a>
            <a asp-action="HomeBtn" class="buttondef"><img class="buttonimg" src="~/icons/icondark.png" />Interesting</a>
            <a asp-action="HomeBtn" class="buttondef"><img class="buttonimg" src="~/icons/reelsdark.png" />Reels</a>
            <a asp-action="HomeBtn" class="buttondef"><img class="buttonimg" src="~/icons/messenger.png" />Messages</a>
            <a asp-action="HomeBtn" class="buttondef"><img class="buttonimg" src="~/icons/heart.png" />Notification</a>
            @* <a asp-action="Create" id="createbtn" class="buttondef"><img class="buttonimg" src="~/icons/createlight.png" />Create</a> *@

            <button id="createbtn" class="buttondef">
                <img class="buttonimg" src="~/icons/createdark.png" />Create</>
                </button>
            <a asp-action="Profile" asp-controller="Autorize" class="buttondef"><img class="buttonimg" src="~/icons/messengerligth.png" />Profile</a>
                    </div>
        <div class="ThirdBlock">
            <partial name="_LoginPartial">

        </div>
    </div> 
    @* <div id="displaycreate" class="createnewpost">
        <div class="maincreatediv">
            <button id="backbtn">back</button> *@

            @* <div class="createdivadd">
                <div class="text-center">

                    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
                        <input type="file" name="fileUp" />
                        <input type="submit" value="Upload File" />
                        <div class="col-md-8">
                            <label asp-for="Message" class="form-label">Title</label>
                            <input asp-for="Message" type="text" class="form-control" placeholder="Enter product title">
                           <span asp-validation-for="Message" class="small text-danger"></span> 
                        </div>
                    </form>
                </div> 


             </div> *@
    @*     </div>
    </div> *@
    <div  class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
