

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/643ceef4cfa099b44806c5ef191838d1?family=Venn+Medium" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/venn-trial" rel="stylesheet">
</head>
<body id="bodycrate">
    <partial name="_SearchPartial.cshtml" ></partial> 
    <div id="leftMenu1" class="leftMenu">
        <div id="FirstBlock1">
            <div id="FirstBlock12"></div>

            <div id="InnerInmg"></div>
        </div>
        <div class="SecondBlock">
            <a asp-action="HomeBtn" asp-controller="Autorize" class="buttondef"><img class="buttonimg" src="~/icons/hut.png" /><p class="OpacityP">Home</p></a>
            <button id="BtnSearch" class="buttondef"><img class="buttonimg" src="~/icons/search.png" /><p class="OpacityP">Search</p></button>
            <a asp-action="HomeBtn" class="buttondef"><img class="buttonimg" src="~/icons/icondark.png" /><p class="OpacityP">Interesting</p></a>
            <a asp-action="HomeBtn" class="buttondef"><img class="buttonimg" src="~/icons/reelsdark.png" /><p class="OpacityP">Reels</p></a>
            <a asp-action="HomeBtn" class="buttondef"><img class="buttonimg" src="~/icons/messenger.png" /><p class="OpacityP">Messages</p></a>
            <a asp-action="HomeBtn" class="buttondef"><img class="buttonimg" src="~/icons/heart.png" /><p class="OpacityP">Notification</p></a>
            @* <a asp-action="Create" id="createbtn" class="buttondef"><img class="buttonimg" src="~/icons/createlight.png" />Create</a> *@

            <button id="createbtn" class="buttondef">
                <img class="buttonimg" src="~/icons/createdark.png" /><p class="OpacityP">Create</p></>
                </button>
            <a asp-action="Profile" asp-controller="Profile" class="buttondef"><img class="buttonimg" src="~/icons/messengerligth.png" /><p class="OpacityP">Profile</p></a>
                    </div>
        <div class="ThirdBlock">

        </div>
    </div> 
    <div  class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

