@using DataAccess.Data.Entities


<div id="ParitalBack">
    <div class="InputDiv">
        <p class="BlackSearch">
            Search request
        </p>
        <input  class="InputSearch" placeholder="Search" />
    </div>
    <div class="DataDiv"></div>
</div>