@{
    ViewData["Title"] = "Home Page";
}

<div style="display:flex; flex-direction:row; gap:15px;">
    <div class="card mb-3" style="max-width:700px">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQgAgPpQ3XkIvdohs4895lMgXWc2otUhvFp07duEkuDxrPzZ84uos0qsCyF1PnCS6MY6D7glQrO_smPV5zb9ip5gA" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Леонардо да Вінчі був одним із найвидатніших представників епохи Відродження. Він народився 1452 року в Італії, у невеличкому містечку Вінчі, звідки й отримав своє прізвище. Його талант проявився в різних сферах — він був художником, інженером, скульптором, архітектором, музикантом і мислителем. Його називають універсальним генієм, адже він залишив по собі не лише картини, що стали шедеврами світового мистецтва, а й безліч креслень, які випередили свій час на століття.

                У мистецтві Леонардо досяг неймовірної майстерності. Його «Мона Ліза» стала символом загадковості й гармонії, а «Таємна вечеря» вражає глибиною духовного змісту і складністю композиції. У його картинах відчувається уважність до деталей, реалістичність образів і тонке розуміння людської психології.

                Окрім живопису, да Вінчі був пристрасним дослідником природи. Він вивчав анатомію, проводив розтини, замальовував внутрішні органи та будову людського тіла. Його записи зберегли сотні малюнків і нотаток, де він описував м’язи, кістки, кровоносну систему. Він також цікавився механікою, створював проекти літальних апаратів, підводних машин, мостів і зброї. Багато його винаходів не були втілені за життя, але стали основою для наукових ідей майбутнього.

                Леонардо прагнув зрозуміти світ у всій його складності й красі. Його підхід до знання був цілісним: він бачив мистецтво і науку не як окремі сфери, а як єдиний спосіб пізнати гармонію Всесвіту. Завдяки цьому він залишив слід не лише в історії мистецтва, а й у розвитку науки, техніки та культури загалом.
            </p>
        </div>
    </div>
    <div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row g-1">
                <div class="col-md-8">
                    <img style="width:100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnEDCpxBcEGk5wSAphG7y0tgGgQEUkEkmwfg&s" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row g-1">
                <div class="col-md-8">
                    <img src="https://cdn4.suspilne.media/images/resize/794x0.1/546afa1ab91f716f.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row g-1">
                <div class="col-md-8">
                    <img src="https://cdn4.suspilne.media/images/resize/794x0.1/2d6b274b161c5047.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
